._tableBody {
  & tr {
    cursor: pointer;
  }

  & tr:hover {
    background-color: #f5f6fa;
  }
}

._table {
  text-align: center;
}

._text {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  ._button {
    margin-top: 0.9rem;
  }
}
